
  <img src="<%= cloudinary_url(bike.photo.key) %>" class="card-img-top" alt="image">
  <h5><%= bike.title %></h5>
  <div class="row p-2">
    <div class="col">
      <h5>£<%= bike.price %></h5>
    </div>
    <div class="col">
      <a href="<%= bike_path(bike) %>" class="stretched-link"></a>
    </div>
  </div>
