.navbar-lewagon {
  justify-content: space-between;
  background: #0D6EFD;
  color: white
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

#navbarDropdown {
  margin-left: 1em;
}

.dropdown-menu.dropdown-menu-end.show {
  z-index: 1021;
}
